/* first-color:#08526d; ازرق
second-color:#FD2F1F; احمر */
/* body{height: 1000px;} */
/* start upper bar */
.upper-bar{
    background-color: #08526d;
    color: #FFF;
}
.upper-bar .info{
    margin:15px 0px;
    margin-left: 0px;
}
@media(max-width:576px){
    .upper-bar .info:first-child{
        margin-bottom: 0px;
    }
}

.upper-bar span{color: #bfc6c9}
.upper-bar .get-quote{
    display: inline;
    border:1px solid #FD2F1F;
    padding: 2px 10px;
    margin-left: 20px;
}
@media(min-width:576px) and (max-width:991px){
    .upper-bar .info .get-quote{
  border: none;
  display: block;
    }
}
@media(max-width:576px){
    .upper-bar .info .get-quote{
  border: none;
  display: inline-block;
    }
}
/* end upper bar */
/* start navbar section */
.navbar-brand span{font-size: 36px;}
.navbar-brand span:first-child{
color:#08526d ;
font-weight: bold;
}
.navbar-brand span:last-child{color:#FD2F1F ;}
.navbar-nav .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
    color:#08526d !important;
    font-weight: bold;
    }
.navbar-nav .active>.nav-link{color:#FD2F1F !important ;}
/* end navbar section */
/* start slider section */
.slider{background-color: #DDD;/* height: 100vh; */}
.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left:0; */
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}
.slider .carousel-inner{
display: flex;
align-items: center;
justify-content: left;
}
@media(max-width:768px){
.slider  .carousel-indicators li{
    margin-top: 500px;
}
}
.slider .carousel-item{
    -webkit-background-size:cover ;
    -moz-background-size:cover ;
    -o-background-size:cover ;
    background-size:cover ;
}
.slider .carousel-one{background-image: url('../images/1.jpg');}
.slider .carousel-two{background-image: url('../images/2.jpg');}
.slider .carousel-three{background-image: url('../images/3.jpg');}
.slider .carousel-indicators li{height:6px ;}
.slider h1{
position: absolute;
z-index: 3;
font-size: 50px;
color:#FFF;
max-width: 800px;
line-height: 1.4;
left: 130px;
}
@media(max-width:768px){
    .slider h1{
       max-width: 100%;
       font-size: 25px;
      text-align: center;
      margin-right: 100px;
    }
    }
.slider h1 span{
    background-color:#FD2F1F;
    padding:0px 10px;
    display: inline-block;
    }
/* end slider section */
/* start features section */
.features{padding-top: 50px;padding-bottom: 50px;}
.features i{
    background-color: #FD2F1F;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #FD2F1F;
    color: #FFF;
    margin-bottom: 10px;
}
.features h4{color: #08526d;}
.features p{color:#C2C2C2 ;margin-bottom: 20px;}
/* end features section */
/* start overview section */
.overview{
    padding: 50px;
    background-color: #EEF2F6;
}
.overview h1{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
@media(max-width:992px){
    .overview h1{
        font-size: 30px;
        }
    }
.overview p{
    color: #C2C2C2;
    line-height: 2;
    width: 80%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 15px;
}
@media(max-width:992px){
    .overview p{
       width: 100%;
    }
    }
.overview h4{
    color: #C2C2C2;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 35px;
}
.overview button{
    background-color: #FD2F1F;
    color:#FFF;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #FD2F1F;
    padding:5px 15px;
    border-radius: 3px;
}
/* end overview section */
 /* start feature work section */
.featured-work{
    padding: 60px;
}
.featured-work h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.featured-work p{
    color: #C2C2C2;
    line-height: 1.6;
    width: 80%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 15px;
}
.featured-work ul {
    margin-top: 50px;
    margin-bottom: 50px;
    }
.featured-work ul li{
border:2px solid #08526d;
color:#08526d;
padding:3px;
margin:5px;
text-transform: uppercase;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
border-radius: 3px;
font-size: 15px;
font-weight: bold;
}
.featured-work ul li.active,.featured-work ul li:hover{
    color: #FFF;
    background-color: #FA3220;
    border:2px solid #FA3220;
}
.featured-work ul li:hover{
    cursor: pointer;
}
.featured-work .shuffle-images .row{
    margin:0px;
 }
.featured-work .row .col-sm{
  padding:3px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.featured-work .row .col-sm img{
    width: 100%;
    border-radius: 4px; 
  }
 /* end feature work section */
/* start latest-posts section */
.latest-posts{
    padding: 0px 0px 60px;
}
.latest-posts h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.latest-posts .section-description{
    color: #C2C2C2;
    line-height: 1.6;
    width: 80%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 40px;
}
@media(max-width:992px){
    .latest-posts .section-description{
        margin-bottom: 20px; }
    }
.latest-posts .card{
    margin-bottom: 10px;
}
.latest-posts .card .card-title{
    font-size: 20px;
    color:#08526d;
    line-height: 1.5;
}
.latest-posts .card .card-text{
    color: #C2C2C2;
    font-size: 15px;
    margin-bottom: 5px;
}
.latest-posts .card .card-link{
    color:#FA3220;
    font-weight: bold;
}
/* end latest-posts section */
/* start testimonials section */
.testimonials{
    background-image: url('../images/country.jpg');
    -webkit-background-size:cover ;
    -moz-background-size:cover ;
    -o-background-size:cover ;
    background-size:cover ;
    position: relative;
}
.testimonials .overlay{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0, 0,0.5);
    z-index: 2;
}
.testimonials .carousel-inner{
    position: relative;
    z-index: 3;
}
.testimonials .carousel-inner .carousel-caption{
  margin-bottom: 100px;
  /* translate: 50%; */
}
.testimonials .carousel-caption img{
   border-radius: 50%;
   margin-bottom: 20px;
}

.testimonials .carousel-caption h3{
    margin-bottom: 10px;
 }

.testimonials .carousel-caption  span{
font-size: 16px;
margin-bottom: 25px;
display: inline-block;
 }
 .testimonials .carousel-indicators li {
    height: 6px;
}
.testimonials .carousel-control-prev,.testimonials .carousel-control-next{
z-index: 4;
}
/* end testimonials section */
/* start pricing section */
.pricing-table{
    padding: 60px 0px;
    background-color: #F5F5F5;
}
.pricing-table h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.pricing-table .section-description{
    color: #C2C2C2;
    line-height: 1.6;
    width: 80%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 60px;
}
@media(max-width:992px){
    .pricing-table .section-description{
        margin-bottom: 25px; }
    }
.pricing-table .card{
   margin-bottom: 30px;
}
.pricing-table .card-body{
    padding:0px;
}
.pricing-table .card .card-title{
    font-size: 25px;
    color:#08526d;
    line-height: 1.5;
    margin-top: 40px;;
}
.pricing-table .card .card-subtitle{
    color:#A3A3A3;
}

.pricing-table .card .card-text{
    color:#08526d;
    font-size: 30px;
    margin: 20px 0;
    background-color: #F5F5F5;
    padding:10px 0;
    font-weight: bold;
}
.pricing-table .card .card-text span{
    color:#08526d;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.pricing-table .list-group-item{
    border:none;
}
.pricing-table .card-body ul li{
    padding:10px;
    color:#A3A3A3;
}
.pricing-table .corporate {
    position: relative;
    top:-20px;
}
@media(max-width:992px){
    .pricing-table .corporate{
        top:0px;
     }
    }
.pricing-table .card .card-link{
    color:#FFF;
    font-weight: bold;
    margin-bottom:20px;
    padding:5px 15px;
    display: inline-block;
    background-color:#FA3220 ;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 20px;
}
.pricing-table .corporate .card-text,.pricing-table .corporate .card-text span{
   background-color: #FA3220;
   color: #FFF;
}
.pricing-table .corporate .card-link{
    background-color:#08526d ;
}
/* end pricing section */
/* start choose-us section */
.choose-us {
    padding-bottom: 60px;
}
.choose-us .col-md-6{
    padding: 0px;
    color:#FFF;
}
.choose-us .col-md-6 img{
    width:750px;
}
.choose-us .col-md-6:last-child{
    background-color:#08526d ;
}

.choose-us .h1{
    margin: 40px;
}
@media(max-width:992px){
    .choose-us h1{
        margin: 20px;
    }
    }
.choose-us p{
   margin:40px;
   line-height: 1.8;
   font-size: 16px;
}
@media(max-width:992px){
    .choose-us p{
        margin: 20px;
     }
    }
.choose-us .btn-read{
    background-color:#FA3220;
    padding:5px 10px ;
    color:#FFF;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    margin:0px 0px 0px 40px;
    text-decoration: none;
}
@media(max-width:992px){
    .choose-us .btn-read{
        margin-bottom: 10px;
     }
    }
/* end choose-us section */
/* start statistics section */
.statistics{padding-bottom: 50px;}
@media(max-width:992px){
    .statistics{
        padding-bottom: 20px;
     }
    }
.statistics .stat-box{margin-bottom: 20px;}
.statistics i{color:#08526d;}
.statistics span{
    display: block;
    color:#08526d;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.statistics p{
   color: #FA3220;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
/* end statistics section */
/* start contact-us section */
.contact-us{
    padding: 100px 0px;
    background-color: #FA3220;
}
.contact-us p{
    font-size: 18px;
    color:#FFF;
    margin:0px;
}
@media(max-width:992px){
    .contact-us a,.contact-us p{
        margin-bottom:20px;
        text-align: center;
     }
    }
.contact-us a{
    color:#FFF;
    background-color:#FA3220;
    padding:5px 10px ;
    border:1px solid #FFF;
    font-size: 14px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
}
@media(max-width:992px){
    .contact-us a{
        margin-right:160px;
     }
    }
   
/* end contact-us section */
/* start footer section */
.footer{
/* margin: 100px 0px ; */
padding:50px 0px;
}
/* @media(max-width:992px){
 .footer{
        padding:30px 0px;
    } */

.footer .site-info span{font-size: 36px;}
.footer .site-info span:first-of-type{
color:#08526d ;
font-weight: bold;
}
.footer .site-info span:last-of-type{color:#FD2F1F ;}
.footer .site-info p{
    margin: 20px 0px 5px;
    color: #B2B2B2;
    line-height: 2;
    font-size: 16px;
}
.footer .site-info a{
    color:#08526d ;
    font-size: 16px;
    font-weight: bold;
}
/* .footer .site-info a:before{
    font-family: 'FontAwesome';
    color:#08526d ;
     content:"\f138";
     content:"\e080";
     display: inline-block;
} */
.footer .helpful-links h2,.footer .contact h2{
    font-size: 22px;
    font-weight: bold;
    color: #08526d;
    margin-bottom: 45px;
}
@media(max-width:992px){
    .footer .helpful-links h2,.footer .contact h2{
        margin:20px 0px;
     }
    }
.footer .helpful-links ul li{
    font-size: 15px;
    font-weight: bold;
    color: #08526d;
    margin-bottom: 10px;
}
/* .footer .helpful-links ul li::before{
    font-family: 'FontAwesome';
    content: "\f054";  
    margin-right: 5px;
    font-size: 10px;
    position: relative;
    top:-1px;
    display: inline-block;
} */
.footer .contact ul li{
    font-size: 16px;
    font-weight: bold;
    color: #A9A9A9;
    margin-bottom: 40px;
}
@media(max-width:992px){
    .footer .contact ul li{
        margin-bottom: 15px;
        }
    }
/* end footer section */
/* start copyright section */
.copyright {
    border-top: 1px solid#DADADA;
    padding:20px;
}
.copyright ul{
   margin:0px
}
.copyright ul li{
    display: inline;
}
.copyright ul li a{
    color:#777;
    display: inline-block;
    margin-left:20px;
    font-size: 18px;
}

/* end copyright section */